---
layout: default
---

<section>
  <div class="jumbotron">
    <div class="container">
      {{site.description}}

    </div>

</div>
</section>

<section id="page-content">
  <div class="container">
    <div class="post-list">
  {%  for post in site.posts %}
  <div class="post-box">
    <div class="post-title">
    <a class="post-title" href="{{post.url | prepend:site.baseurl }}" > {{ post.title }}</a>
    </div>
    <!--<div class="post-excerpt">
      {{ post.content | strip_html | truncatewords:20}}
    </div>-->
    <div class="posted">
      <!--posted on-->
      <span class="posted-on">

        {{ post.date | date: "%A, %B %-d, %Y" }}
      </span>
      <span class="in">
        in
      </span>
      <span class="categories-on">
        {% for category in post.categories%}
        {{category}}{% if forloop.last %}{% else %},{% endif %}
        {% endfor %}
      </span>
    </div>
  </div>
  {% endfor %}
  </div>
</section>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-16555025-5', 'auto');
  ga('send', 'pageview');

</script>
