<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container footer-content">
    Powered By
    <a href="https://jekyllrb.com/">Jekyll</a> &amp;
    <a href="https://github.com/hemangsk/DevJournal">DevJournal</a>
  </div>
</nav>
