<section>
<nav class="navbar navbar-default navbar-fixed-top">

  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/">{{site.title}}</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="http://bhdouglass.com/">Me</a></li>
        <li><a href="https://gitlab.com/bhdouglass">GitLab</a></li>
        <li><a href="https://twitter.com/bhdouglass">Twitter</a></li>

        {% for page in site.pages %}
        {% if page.title %}
        <li><a href="{{page.permalink | prepend: site.baseurl }}">{{page.title}}</a></li>
        {% endif %}
        {% endfor %}
      </ul>

    <!--  <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Know More!</a></li>

      </ul>-->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</section>
